body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  overflow: hidden;
}

.page {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, #e6f2f7, white);
  cursor: pointer;
}

/* HEADER */
.top {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.top h1 {
  font-size: 60px;
  margin: 0;
}

.top p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

/* ASTRONAUT BACKGROUND CATS */
.bg-animal {
  position: absolute;
  width: 350px;
  opacity: 0.12;
  pointer-events: none;
}

.bg-animal.left {
  left: 0;
  top: 100px;
}

.bg-animal.right {
  right: 0;
  top: 120px;
}

/* GLOWING BALL */
.ball {
  position: absolute;
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
  box-shadow:
    0 0 8px white,
    0 0 20px white,
    0 0 40px rgba(255,255,255,0.8);
  pointer-events: none;
}

/* SPRITE CAT */
.sprite-cat {
  position: absolute;
  width: 200px;
  height: 200px;

  background-repeat: no-repeat;
  background-size: cover;

  animation: run 1s steps(6) infinite;
  pointer-events: none;
}

/* SPRITE ANIMATION (6 FRAMES, 200px EACH) */
@keyframes run {
  from { background-position: 0px; }
  to { background-position: -1200px; }
}